fastapi
uvicorn
python-dotenv
python-multipart
pydantic
email-validator
mysql-connector-python
google-genai
google-api-python-client
requests
Pillow
transformers
torch
torchvision
safetensors
bcrypt
aiosmtplib